*{
	margin: 0;pading:0;
	box-sizing: border-box;
}
html,body{
	width: 100%;
	height: 100%;
	background:url(../img/1.jpg);
	background-size:100% 100%;
}
.wrap{
	width: 100%;
	position: relative;
	
	
	
}
.head{
	width: 100%;
}
.head h1{
		font-size: 60px;
		font-weight: bold;
		float: right;
		color: #686f7f;
		margin:50px;
	margin-right: 230px;
	}
	.main{
		width: 100%;

	}
	.statr ul li:nth-child(1) img{
		position: absolute;
		left:50%;
		top: 300px;
		-webkit-animation:shen 1.1s linear alternate infinite;

	}
.statr ul li:nth-child(2) img{
		position: absolute;
		right: 50%;
		top: 50px;
		-webkit-animation:shen 1.3s linear alternate infinite;
}
.statr ul li:nth-child(3) img{
		
		position: absolute;
		right: 150px;
		top: 30px;
		-webkit-animation:shen 1.3s linear alternate infinite;
}

.statr ul li:nth-child(4) img{
		position: absolute;
		left: 100px;
		top:130px;
		-webkit-animation:shen 1.5s linear alternate infinite;
}

.statr ul li:nth-child(5) img{
		width: 36px;
		height: 36px;
		position: absolute;
		right: 120px;
		top: 230px;
		-webkit-animation:shen 1.6s linear alternate infinite;
}

.statr ul li:nth-child(6) img{
		width: 20px;
		height: 20px;
		position: absolute;
		left: 70%;
		top: 130px;
}
.statr ul li:nth-child(7) img{
		position: absolute;
		right: 100px;
		top: 80px;
		-webkit-animation:shen 1.7s linear alternate infinite;
}
.statr ul li:nth-child(8) img{
		width: 20px;
		height: 20px;
		position: absolute;
		left: 60%;
		top: 120px;
}
.statr ul li:nth-child(9) img{
		position: absolute;
		right: 200px;
		top: 110px;
		-webkit-animation:shen 1.8s linear alternate infinite;
}
.statr ul li:nth-child(10) img{
		width: 20px;
		height: 20px;
		position: absolute;
		left: 70px;
		top: 100px;
}
.statr ul li:nth-child(11) img{
		width: 20px;
		height: 20px;
		position: absolute;
		right: 130px;
		top: 90px;
		-webkit-animation:shen 1.9s linear alternate infinite;
}
.statr ul li:nth-child(12) img{
		width: 25px;
		height: 25px;
		position: absolute;
		left: 52%;
		top: 80px;
		-webkit-animation:shen 2.3s linear alternate infinite;
}

.statr ul li:nth-child(13) img{
		position: absolute;
		right:300px;
		top: 150px;
		-webkit-animation:shen 1.5s linear alternate infinite;
}
.statr ul li:nth-child(14) img{
		width: 25px;
		height: 25px;
		position: absolute;
		left: 50px;
		top: 60px;
		-webkit-animation:shen 2.2s linear alternate infinite;
}

.statr ul li:nth-child(15) img{
		width: 25px;
		height: 25px;
		position: absolute;
		left: 55%;
		top: 60px;
		-webkit-animation:shen 2.1s linear alternate infinite;
}

.statr ul li:nth-child(16) img{
		width: 25px;
		height: 25px;
		position: absolute;
		left:60%;
		top: 60px;
		-webkit-animation:shen 2s linear alternate infinite;
}

.statr ul li:nth-child(17) img{
		width: 30px;
		height: 30px;
		position: absolute;
		left:65%;
		top: 40px;
		-webkit-animation:shen 1.5s linear alternate infinite;
}
.statr ul li:nth-child(18) img{
		width: 30px;
		height: 30px;
		position: absolute;
		left:52%;
		top: 230px;
		-webkit-animation:shen 1.7s linear alternate infinite;
}
.statr ul li:nth-child(19) img{
		width: 30px;
		height: 30px;
		position: absolute;
		left:45%;
		top: 200px;
		-webkit-animation:shen 1.3s linear alternate infinite;
}
.statr ul li:nth-child(20) img{
		width: 30px;
		height: 30px;
		position: absolute;
		left:55%;
		top: 200px;
		-webkit-animation:shen 1.2s linear alternate infinite;
}
.statr ul li:nth-child(21) img{
		width: 30px;
		height: 30px;
		position: absolute;
		left:60%;
		top: 250px;
		-webkit-animation:shen 1s linear alternate infinite;
}
 @-webkit-keyframes shen{
        0%{-webkit-transform:scale(0.5)}
        100%{-webkit-transform:scale(1)}
    }
.banner{
	width: 500px;
	height: 300px;
	overflow: hidden;
	position: absolute;
	left: 200px;top: 70px;
}
.banner img{
	600px;
	height: 300px;
}
.geren{
	width: 300px;
	height: 300px;
	border: 3px solid #686f7f;
	 position: absolute;
	 right: 50px;
	 top:280px;
	 color: #686f7f;
	 border-radius: 10px;
}
.geren h1{
font-size: 23px;
font-weight:bold;
color: #686f7f;
text-align: center;
margin-top: 10px;
}
.geren ul{
	margin-top: 20px;
}
.geren ul li{
	height: 38px;
	border-bottom: 1px solid #686f7f;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 20px;
	padding-left: 20px;
	line-height: 38px;

}
.geren ul li span{
	font-size: 20px;
	padding-right: 10px;
}
.geren ul li:last-child{
	border-bottom: none
}

.commet{
	width: 800px;
	height: 300px;
	border: 3px solid #686f7f;
	 position: absolute;
	 left: 30px;
	 top:480px;
	 color: #686f7f;
	 border-radius: 10px;
}
.commet h1{
font-size: 23px;
font-weight:bold;
color: #686f7f;
text-align: center;
margin-top: 10px;
}
.commet ul{
	margin-top: 20px;
}
.commet ul li{
	height: 38px;
	/* border-bottom: 1px solid #686f7f; */
	margin-left: 20px;
	margin-right: 20px;
	font-size: 18px;
	padding-left: 10px; 
	line-height: 38px;

}

.xiangmu{
	width: 800px;
	height: 300px;
	border: 3px solid #686f7f;
	 position: absolute;
	 right: 50px;
	 top:850px;
	 color: #686f7f;
	 border-radius: 10px;
}
.xiangmu h1{
font-size: 23px;
font-weight:bold;
color: #686f7f;
text-align: center;
margin-top: 10px;
}
.xiangmu ul{
	margin-top: 20px;
}
.xiangmu ul li{
	height: 38px;
	/* border-bottom: 1px solid #686f7f; */
	margin-left: 20px;
	margin-right: 20px;
	font-size: 18px;
	padding-left: 10px;
	line-height: 38px;

}

.jingli{
	width: 300px;
	height: 300px;
	border: 3px solid #686f7f;
	 position: absolute;
	 left: 30px;
	 top:1050px;
	 color: #686f7f;
	 border-radius: 10px;
}
.jingli h1{
font-size: 23px;
font-weight:bold;
color: #686f7f;
text-align: center;
margin-top: 10px;
}
.jingli ul{
	margin-top: 20px;
}
.jingli ul li{
	height: 38px;
	border-bottom: 1px solid #686f7f;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 20px;
	padding-left: 20px;
	line-height: 38px;

}
.jingli ul li:last-child{
	border-bottom: none
}
.er{
	width: 300px;
	height: 150px;
	border: 3px solid #686f7f;
	position:absolute;
	right: 50px;
	top: 625px;
	border-radius: 10px;
}
.er ul{
	
	color: #686f7f;
	float: left;
	margin-right: 30px;
	padding-left: 10px;
	padding-top: 10px;
}
.er ul li{
	font-size:18px;
	font-weight:bold;
	line-height: 30px;
}
.er p{
	padding-top: 20px;
	line-height: 150px;


}
.ee{
	width: 300px;
	height: 150px;
	border: 3px solid #686f7f;
	position:absolute;
	left: 30px;
	top: 850px;
	border-radius: 10px;
}
.ee ul{
	color: #686f7f;
	margin-right: 30px;
	padding-left: 10px;
	padding-top: 15px;
}
.ee ul li{
	font-size:15px;
	line-height: 30px;
}
.ee p{
	padding-top: 20px;
	line-height: 150px;
	float: left;
	padding-left: 15px;
	padding-right: 12px;
}
.ee p img{
	width: 103px;
	height: 104px;
}
.ee ul h1{
	font-weight: bold;
	font-size: 18px;

}

.Myself{
	width: 800px;
	height: 150px;
	border: 3px solid #686f7f;
	 position: absolute;
	 right: 50px;
	 top:1200px;
	 color: #686f7f;
	 border-radius: 10px;
}
.Myself h1{
font-size: 23px;
font-weight:bold;
color: #686f7f;
text-align: center;
margin-top: 10px;
}
.Myself ul{
	margin-top: 20px;
}
.Myself ul li{
	height: 38px;
	/* border-bottom: 1px solid #686f7f; */
	margin-left: 20px;
	margin-right: 20px;
	font-size: 18px;
	padding-left: 10px;
	line-height: 38px;

}